form{
    width: 50%;
    margin:  0 auto;
    margin-top: 50px;
    background-color: rgb(242, 169, 0, 0.7);
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    border-radius: 15px;
   
}
input{
    margin-top: 15px;
}

select{
    margin-top: 15px;
}

.button{
    margin-top: 15px;
    color: black;
    background-color:rgb(218, 41, 30);
    border-color: rgb(218, 41, 30);
    width: 100px;
height: 30px;
text-align: center;
padding-top: 3px;
padding-bottom: 2px;
border-radius: 8px;
position: relative;
font-size: 14px ;
text-decoration: none;
box-shadow: none;
}
.button:hover{
background-color: rgb(218, 41, 28,0.8);
border-color: rgb(218, 41, 28,0.8);


}
h4{
padding-top: 4%;
padding-bottom: 2%;
}
h3{
padding-bottom: 2%;


}
input{
border-radius: 20px;

}